$primaryColor: #09232E;
$backgroundColor: #08435B;
$cardColor: #1A828F;
$cardDetailsColor: #CBD1AE;
$yellowColor: #EBA333;

:export {
    primaryColor: $primaryColor;
    backgroundColor: $backgroundColor;
    cardColor: $cardColor;
    cardDetailsColor: $cardDetailsColor;
    yellowColor: $yellowColor;
}